service cloud.firestore {
	match /databases/{database}/documents {
		match /products/{document=**} {
			allow read,write: if true;
		}
		match /carts/{document=**} {
			allow read,write: if true;
		}
	}
}
